<section class="products-list">
  <div class="products-table">
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción <span>i</span></th>
          <th>Fecha de liberación <span>i</span></th>
          <th>Fecha de reestructuración <span>i</span></th>
          <th class="options"></th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id) {
          <tr [id]="product.id">
            <td><img [src]="product.logo" alt="Logo"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ formatDateStr(product.date_release) }}</td>
            <td>{{ formatDateStr(product.date_revision) }}</td>
            <td class="options" (click)="deleteProduct(product.id)"><img src="assets/svg/ellipsis.svg" alt="options"></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <app-pagination (qtyChanged)="onQtyChanged($event)" [resultQty]="resultQty"></app-pagination>
</section>
