<app-error-message
  [activate]="error"
  [message]="errorMessage"
></app-error-message>
<section class="products-list">
  <div class="products-table">
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción <span>i</span></th>
          <th>Fecha de liberación <span>i</span></th>
          <th>Fecha de reestructuración <span>i</span></th>
          <th class="options"></th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id) {
        <tr [id]="product.id">
          <td><img [src]="product.logo" alt="Logo" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ formatApiDate(product.date_release) }}</td>
          <td>{{ formatApiDate(product.date_revision) }}</td>
          <td class="options" (click)="toggleMenu(product.id)">
            <img class="menu" src="assets/svg/ellipsis.svg" alt="options" />
            @if (product.showMenu) {
            <ul class="options-menu">
              <li (click)="redirectPage(product, 'edit-product')">
                <img src="assets/svg/edit.svg" alt="edit" />Editar
              </li>
              <li (click)="redirectPage(product, 'delete')">
                <img src="assets/svg/delete.svg" alt="delete" />Borrar
              </li>
            </ul>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <app-pagination
    (qtyChanged)="onQtyChanged($event)"
    (pageChanged)="onPageChanged($event)"
    [resultQty]="resultQty"
    [totalProducts]="totalProducts"
  ></app-pagination>
  @if (openDeleteModal) {
  <app-delete-modal
    (closeModal)="onCloseModal($event)"
    [selectedProduct]="selectedProduct"
  ></app-delete-modal>
  }
</section>
